_cgo1_.o
_cgo_.o
_cgo_defun.6
_cgo_defun.c
_cgo_export.c
_cgo_export.h
_cgo_export.o
_cgo_gotypes.go
_cgo_import.c
_cgo_main.c
_cgo_main.o
_obj/
golua.o
lauxlib.cgo1.go
lauxlib.cgo2.c
lauxlib.cgo2.o
lua.cgo1.go
lua.cgo2.c
lua.cgo2.o
*.[568]
lua_defs.*
